@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
button,
input {
  border: 0;
  background: none;
  color: #2e2e2e;
  font-family: 'Nunito', sans-serif;
  transition: color 0.2s ease-out;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
  background: #fafafa;
}

body {
  padding: 40px 12px 0;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  width: 100%;
  padding-bottom: 4rem;
}

.header__wrapper {
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.06);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
}

.header {
  margin: 0 auto;
  padding: 1.6rem 3.2rem;
  max-width: 1200px;

  text-align: center;
}

.header span {
  font-size: 3rem;
}

form {
  max-width: 800px;
  margin: 6rem auto 1.8rem;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

form > * {
  margin: 0 0.6rem;
}

form input,
form select {
  border: 2px solid #d6d6d6;
  border-radius: 0.6rem;
  padding: 0.6rem 1rem;
  font-size: 2rem;

  transition: 0.3s ease;
}

form input {
  padding: 0.7rem 1rem;
}

.query-type-container {
  display: flex;
  flex-direction: column;
}

.query-type-container label {
  font-size: 1.8rem;
}

form select {
  width: 24rem;
  max-width: 100%;
}

form input:focus {
  outline: none;
  border-color: #7d77e0;
}

form button {
  border-radius: 0.8rem;
  background: #7d77e0;
  padding: 0.95rem 1.6rem;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;

  transition: 0.3s ease all;
}

form button:hover {
  background: #6e69c4;
}

table {
  border-radius: 0.4rem;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  overflow: hidden;

  max-width: 1200px;
}

table tr {
  background-color: #f8f8f8;
  padding: 0.35rem;
}

table th,
table td {
  padding: 0.625rem;
  text-align: center;
}

table th {
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

td,
th {
  font-size: 1.6rem;

  border: 2px solid #c2c2c2;
  text-align: left;
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #e6e6e6;
}

.warning-message-block {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
}

.warning-message-block span {
  font-size: 3rem;
  font-weight: 600;

  transition: none;
  color: #1f1f29;
}

.warning-message-block span[data-error='error'] {
  color: #d65454;
}

.people-length-block {
  max-width: 1200px;
  height: 40px;
  margin: 0 auto;
  width: 100%;
}

.people-length-block span {
  font-size: 2.2rem;
}

footer {
  width: 100%;
  margin: 1rem 0;
  position: absolute;
  bottom: 0;

  text-align: center;
  font-size: 2rem;
}

@media (max-width: 698px) {
  form {
    flex-direction: column;
  }

  form input,
  form select,
  form button {
    width: 320px;
    margin-bottom: 1.6rem;
  }
}
